* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.backround {
    background-color: #54B7E7;
}

/*header*/

header {
    padding: 1em;
}

header h1 {
    text-decoration: none;
    padding-top: 0.5em;
    text-align: center;
    font-size: 2em;
    font-family: gochi hand;
    color: white
}

h1 {
    text-decoration: underline #B9C4C6;
    text-align: center;
    font-size: 2.5em;
    font-family: gochi hand;
    color: white
}

h2 {
    text-decoration: underline #B9C4C6;
    padding: 0.2em;
    text-align: center;
    font-size: 1.8em;
    font-family: gochi hand;
    color: white
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.95em;
}

header {
    display: flex;
    justify-content: space-between;
}

article {
    padding: 1em;
}
/*dropdownmenu*/

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}
  
.dropbtn img {
    width: 3.3em;
}    
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #54B7E7;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #7dc4e8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*homgepage*/

a { 
    color: white;
    text-decoration: none;
    font-family: gochi hand;
    color: white;
}

.sectie-home-wit {
    width: 100vw;
    padding: 1em;
    background-color: white;
}

.sectie-home-wit h2{
    color: #54B7E7;
}

.sectie-home-wit p {
    color: #54B7E7;
}

.afbeelding img {
    padding-top: 30px;
    width: 87vw
}

.knop-home {
    text-align: center;
    margin-top: 1em;
}

.knop-home a {
    color: #54B7E7;
    border-bottom: 3px solid #B9C4C6;
    padding: 0.2em;
}


/*locaties.html*/

.map img {
    width: 100vw;
}

.meer-informatie {
    margin-top: 1.3em;
}

.meer-informatie a {
    color: white;
    border-bottom: 3px solid #B9C4C6;
    padding: 0.2em;
}

/*details dropdownmenu*/

details {
    color: white;
    font-family: gochi hand;
    font-size: 1em;
    padding: 0.5em;
}
  
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
  
details[open] {
    padding: 0.5em;
}
  
details[open] summary {
    margin-bottom: 0.5em;
}
  
/*bron.html*/

.sectie-bron-wit {
    width: 100vw;
    height: 130vw;
    padding: 1em;
    background-color: white;
}

.proces img {
    padding-top: 15px;
    width: 87vw;
}

.sectie-bron-wit h2 {
    color: #54B7E7;
}

.sectie-bron-wit p {
    color: #54B7E7; 
}

/*flesjes.html*/

.sectie-flesjes-blauw {
    display: flex; flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
}

.text {
    padding: 3vw;
}

.text h2 {
    text-align: left;
}

.image img{
    padding-top: 30px;
    width: 12vw;
}

.sectie-flesjes-wit {
    display: flex; flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    padding: 1em;
    background-color: white;
}

.sectie-flesjes-wit h2 {
    color: #54B7E7;
}

.sectie-flesjes-wit p {
    color: #54B7E7;
}

.sectie-flesjes-wit a {
    color: #54B7E7;
    border-bottom: 3px solid #B9C4C6;
    padding: 0.2em;
}

.sectie-flesjes-blauw a {
    color: white;
    border-bottom: 3px solid #B9C4C6;
    padding: 0.2em;
}

.sectie-flesjes-blauw a:hover a:visited {
    color: #B9C4C6;
}

/*contact*/
 
.sectie-contact-wit {
    width: 100vw;
    height: 60vw;
    padding: 1em;
    background-color: white;
}

.sectie-contact-wit h2 {
    color: #54B7E7;
}

.sectie-contact-wit p {
    text-align: center;
    color: #54B7E7;
}

.sectie-contact-wit a {
    text-align: center;
    color: #54B7E7;
}

/*footer*/

footer ul {
    display: flex;
    list-style-type: none;
}

footer li {
    padding: 0.8em;
    font-size: 1.1em;
}